<%# Header Start %>
<header>
  <div id="navigation" class="container">
    <nav aria-label="navbar">
      <%# Logo %>
      <a href="/" id="logo" aria-label="Go to homepage">
        <img src="../assets/images/logo.webp" alt="logo" />
      </a>

      <%# Desktop Only Search Bar %>
      <form id="nav-searchbar-w" class="hide searchbar">
        <button class="icon" aria-label="Search Button">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewbox="0 0 24 24"
          >
            <%- include("svgPaths.ejs", { pathName: 'search' }) %>
          </svg>
        </button>
        <input type="text" placeholder="Search our store" />
      </form>

      <%# Utility Icons %>
      <div class="utils">
        <%# Account %>
        <a class="icon" href="../login/" aria-label="Go to User Profile">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-width="2.5"
            viewbox="0 0 24 24"
          >
            <circle cx="12" cy="7" r="5"></circle>
            <%- include("svgPaths.ejs", { pathName: 'account' }) %>
          </svg>
        </a>
        <%# Cart %>
        <a class="icon cart-icon" href="../cart/" aria-label="Go to cart">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-width="2.5"
            viewbox="0 0 24 24"
          >
            <%- include("svgPaths.ejs", { pathName: 'cart' }) %>
            <span class="cart-count">0</span>
          </svg>
        </a>
      </div>

      <%# Burger Icon Mobile Only%>
      <button
        class="icon mobile-menu-icon"
        aria-expanded="false"
        aria-controls="mobile-drawer"
        aria-label="Open the Mobile Menu Drawer"
      >
        <svg fill="currentColor" viewbox="0 0 24 24">
          <rect
            class="burger-line top"
            width="20"
            height="2.4"
            x="2.4"
            y="5"
            rx="1.2"
          ></rect>
          <rect
            class="burger-line middle"
            width="20"
            height="2.4"
            x="2.4"
            y="11"
            rx="1.2"
          ></rect>
          <rect
            class="burger-line bottom"
            width="20"
            height="2.4"
            x="2.4"
            y="16.6"
            rx="1.2"
          ></rect>
        </svg>
      </button>
    </nav>
  </div>

  <%# Desktop Only Navigation For Merchandise Categories %>
  <div class="desktop-categories-navigation">
    <div class="container flex">
      <%#
      <!-- prettier-ignore -->
      %>
      <%- include("list.ejs", {
      items: [
        ["Pre-Order", ["Kiana Kaslana", "Honkai Impact 3rd", "Arknights", "Honkai Star Rail", "Genshin Impact"]],
        ["In-Stock", []],
        ["Apparel", ["Clothing", "Bags", "Shoes"]],
        ["Accessories", ["Earrings", "Necklase"]],
        ["Collectibles", ["Acrylics", "Keychains", "Plushies", "Electronics"]],
      ],
        className: "categories",
        itemClassName: "categories__item",
        sublistClassName: "sub-categories__item",
        isAccordion: true,
      })  %>
  
      <%# Utility Icons %>
      <div class="utils hide">
        <%# Account %>
        <a class="icon" href="../login/" aria-label="Go to User Profile">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-width="2.5"
            viewbox="0 0 24 24"
          >
            <circle cx="12" cy="7" r="5"></circle>
            <%- include("svgPaths.ejs", { pathName: 'account' }) %>
          </svg>
        </a>
        <%# Cart %>
        <a class="icon cart-icon" href="../cart/" aria-label="Go to cart">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-width="2.5"
            viewbox="0 0 24 24"
          >
            <%- include("svgPaths.ejs", { pathName: 'cart' }) %>
            <span class="cart-count">0</span>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <%# Mobile Only Searchbar %>
  <form id="nav-searchbar-s" class="searchbar">
    <button class="icon" aria-label="Search Button">
      <svg
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewbox="0 0 24 24"
      >
        <%- include("svgPaths.ejs", { pathName: 'search' }) %>
      </svg>
    </button>
    <input type="text" placeholder="Search our store" />
  </form>
</header>
<%# Header End %>

<!-- <%# Mobile Accessible Drawer %> -->
<section class="mobile-drawer hide container">
  <form id="searchbar-drawer" class="searchbar">
    <button class="icon" aria-label="Search Button">
      <svg
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewbox="0 0 24 24"
      >
        <%- include("svgPaths.ejs", { pathName: 'search' }) %>
      </svg>
    </button>
    <input type="text" placeholder="Search our store" />
  </form>

  <%#
  <!-- prettier-ignore -->
  %>
  <%- include("list.ejs", {
    items: [
      ["Figures", [["Pre-Order", ["Kiana Kaslana", "Honkai Impact 3rd", "Arknights", "Honkai Star Rail", "Genshin Impact"]], "In-Stock"]],
      ["Apparel", ["Clothing", "Bags", "Shoes"]],
      ["Accessories", ["Earrings", "Necklase"]],
      ["Collectibles", ["Acrylics", "Keychains", "Plushies", "Electronics"]],
    ],
    className: "categories",
    itemClassName: "categories__item",
    sublistClassName: "sub-categories__item",
    isAccordion: true,
  })  %>

  <div class="socials-links">
    <a href="#" class="icon" aria-label="Instagram">
      <svg
        fill="none"
        stroke="currentColor"
        stroke-width="1.5"
        viewbox="0 0 50 50"
      >
        <%- include("svgPaths.ejs", { pathName: 'instagram' }) %>
      </svg>
    </a>
    <a href="#" class="icon" aria-label="Facebook">
      <svg stroke="currentColor" stroke-width="1.5" viewbox="0 0 50 50">
        <%- include("svgPaths.ejs", { pathName: 'facebook' }) %>
      </svg>
    </a>
  </div>
</section>
