<ul class="<%= className %>">
  <% items.forEach(item => { %>
    <% if (Array.isArray(item)) { %>
      <li class="<%= itemClassName %>">
        <a href="#"><%= item[0] %></a>
        <%if (isAccordion && item[1].length != 0){%>
          <button 
            class="icon accordion-trigger"
            aria-expanded="false"
            aria-controls="accordion"
            aria-label="Expand Link List"
          >
            <svg
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewbox="0 0 24 24"
            >
            <%- include("svgPaths.ejs", { pathName: 'arrow' }) %>
            </svg>
          </button>
        <%}%>
        <%- include("list.ejs", { items: item[1], className: sublistClassName, itemClassName: itemClassName }) %>
      </li>
    <% } else { %>
      <li class="<%= itemClassName %>"><a href="#"><%= item %></a></li>
    <% } %>
  <% }); %>
</ul>