---
layout: "base.ejs"
---

<article class="container">
    <div>
        <h1>
            <%= title %>
        </h1>
        <figure>
            <img src="<%= imageSM %>" alt="<%= imageAlt %>">
            <figcaption>
                <%= imageAlt %>
            </figcaption>
        </figure>

        <%- content %>
    </div>
</article>