---
title: Nyaanime Shop Anime Merch
layout: "base.ejs"
---

<section id="banner">
  <%# When page reaches certain breakpoints, change image resolution %>
  <picture>
    <source srcset="./assets/images/hero-image-800.webp" media="(max-width: 800px)" />
    <source
      srcset="./assets/images/hero-image-1440.webp"
      media="(max-width: 1440px)"
    />
    <img
      src="./assets/images/hero-image-2560.webp"
      alt="landing image"
      width="2536"
      height="854"
      loading="eager"
      decoding="async"
    />
  </picture>

  <div class="container">
    <h1>Unleash Your <br />Inner Otaku <br /></h1>
    <h2><strong>Shop Now</strong></h2>
  </div>
</section>

<%# Merchandise section %>
<section class="merchandise-collection container">
  <% for (post of collections.merch){ %>
  <a class="merchandise" href="<%= post.url %>">
  <picture>
    <source srcset="<%= post.data.imageSM %>" media="(max-width: 800px)" />
    <img
      src="<%= post.data.imageMD %>"
      alt="<%= post.data.imageAlt %>"
      width="800"
      height="800"
      loading="lazy"
    />
  </picture>
    <p><%= post.data.title %></p>
    <p><span><%= post.data.price %></span></p>
  </a>
  <%}%>
</section>
